body{
    width: 90%;
	max-width: 800px;
	margin: 30px auto;
}
div{
    float: left;
}
h2{
    font-size: 1.7em;
}
dt{
    font-weight: bold;
}
#contact ul{
    padding-left: 30px;
    float: left;
}
#document{
    width: 730px;
    height: auto;
}
#info{
    float: left;
}
#header{
    width: 660px;
    padding: 25px 35px;
    border-bottom: 2px solid;
}

#sectionWork{
    width: 730px;
}
#sectionBio{
    
}
#picture img{
	border-radius: 150px;
}
#work{
    margin-left: 50px;
}
.clear{
    clear: both;
}
.spacer{
    border-bottom: 2px solid lightgray;
}
