@media screen and (min-width: 840px){
    body{
        width: 1000px;
    }
    .title{
        background-image: linear-gradient(to right, purple, fuchsia);
        font-size: 3.8em;
        text-align: center;
    }
    .top{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #400C43;
        border-radius: 150px;
        margin: 0 10% 0 10%;
        .item{
            margin:0 auto 0 auto;
        }
        .item:nth-child(3n-2){background-color:#E31EE6;}
        .item:nth-child(3n-1){background-color:#D91EFE;}
        .item:nth-child(3n){background-color:#EE45F7;}
        .item:hover:nth-child(1n){background-color:#EFA6F2;};
    }
    .container{
        height: 1000px;
        background-color:purple;
        border-radius: 50px;
        padding:80px;
        .bargraph{
            width: 600px;
            height: 500px;
            float:right;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .bar1{
                background-color: green;
                margin: 0 30px 0 30px;
                grid-row-start:4;
                grid-row-end:10;
            }
            .bar2{
                background-color: green;
                margin: 0 30px 0 30px;
                grid-row-start:6;
                grid-row-end:10;
            }
            .bar3{
                background-color: green;
                margin: 0 30px 0 30px;
                grid-row-start:2;
                grid-row-end:10;
            }
            .bar4{
                background-color: green;
                margin: 0 30px 0 30px;
                grid-row-start:9;
                grid-row-end:10;
            }
        }
        .sidebar{
            float: left;
            height: 1000px;
            width:240px;
            .item div{
                display: none;
            }
            .item:hover{
                font-weight: bold;
                div{
                    display:block;
                    margin-left: 30px;
                }
                div:hover{
                    color:red;
                }
            }
        }
        .flexbottom{
            background-color: magenta;
            float: right;
            width:600px;
            display:flex;
            flex-wrap: wrap;
            h2{
                width:600px;
            }
            .mon{
                div:nth-child(1){
                    font-weight: bold;
                    
                }
                width:108px;
                border: 1px solid;
                border-radius: 20px;
            }
            .mon:nth-child(even){
                background-image: linear-gradient(to right, #400C43, purple);
            }
            .mon:nth-child(odd){
                background-image: linear-gradient(to right, purple, #400C43);
            }
        }
    }
}
@media (max-width: 840px){
    body{
        width:700px;
    }
    .title{
        background-image: linear-gradient(to right, purple, fuchsia);
        font-size: 2.8em;
        text-align: center;
    }
    .top{
        color:white;
        .item:nth-child(2n-1){background-color:purple;}
        .item:nth-child(2n){background-color:magenta;}
        .item:hover:nth-child(1n){background-color:#EFA6F2;};
    }
   
    .container{
        height: 1300px;
        background-color:purple;
        .bargraph{
            width: 600px;
            height: 200px;
            float:left;
            display: grid;
            grid-template-row: 1fr 1fr 1fr 1fr;
            .bar1{
                background-color: red;
                margin: 10px 0 10px 0;
                grid-column-start:1;
                grid-column-end:8;
            }
            .bar2{
                background-color: red;
                margin: 10px 0 10px 0;
                grid-column-start:1;
                grid-column-end:5;
            }
            .bar3{
                background-color: red;
                margin: 10px 0 10px 0;
                grid-column-start:1;
                grid-column-end:12;
            }
            .bar4{
                background-color: red;
                margin: 10px 0 10px 0;
                grid-column-start:1;
                grid-column-end:4;
            }
        }
        .sidebar{
            display:none;
        }
        .flexbottom{
            background-color: magenta;
            float: left;
            width:700px;
            display:flex;
            flex-wrap: wrap;
            h2{
                width:600px;
            }
            .mon{
                div:nth-child(1){
                    font-weight: bold;
                    color:darkblue;
                }
                color:aqua;
                width:695px;
                border: 1px solid purple;
                border-radius: 20px;
            }
            .mon:nth-child(even){
                background-image: linear-gradient(to right, #400C43, purple);
            }
            .mon:nth-child(odd){
                background-image: linear-gradient(to right, purple, #400C43);
            }
        }
    }
}

